.pos-relative{
    position: relative;
}

.pos-absolute{
    position: absolute;
}

.map-style{
    border-collapse: collapse;
    border-spacing: 0;

}

.map-style td{
    padding: 0;
}

.map-wall-style{
    width: 50px;
    height: 50px;
    background-color: gray;
    box-sizing: border-box;
}

.map-path-style{
    width: 50px;
    height: 50px;
    margin: auto;
    background-color: black;
}

.map-void-style{
    width: 50px;
    height: 50px;
    background-color: blue;
}

.map-door-style{
    width: 50px;
    height: 50px;
    background-color: #616161;
    box-sizing: border-box;
    border: 2px dashed #55ff33;
}

.map-entity-player-style{
    color: #55ff33;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.map-entity-note-style{
    color: #55ff33;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.map-entity-key-style{
    color: #55ff33;
    text-align: center;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}